.description {
  font-size: 110%;
  font-weight: bold;
  margin-top: 5%; }
  .description .description-detalle {
    font-size: 120%;
    margin: 1% 15% 1% 15%; }
      .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-nombre {
        color: #00a2a8;
        width: 33%;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        padding: 0 1%; }
      .description .description-detalle-valores{
        /* width: 42%; */
        margin-top: 5%;
        
        
        /* font-weight: bolder; */ }
      .description .description-detalle-items {
        padding-left: 6%;
        width: 20%;
        /* list-style-image: url("../imagenes/check.png"); } */
        font-size: 90%;
        }

.productos {
  font-size: 110%;
  font-weight: bold;
  margin: 5% 0 0 20%;
  text-align:left; }
  .productos .productos-nivel1 {
    margin-left: 5%;
    font-size: 90%; }     
      .productos .productos-nivel2 {
        margin-left: 5%;
        font-size: 80%; }     


.cv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 8% 5% 5% 10%; }
  .cv .cv-column {
    width: 50%;
    padding-right: 8%; }
    .cv .cv-column .cv-titulos p {
      background-color:#00a2a8;
      display: flex;
      justify-content: center;
      align-content: center;
      border-radius: 0 0 1rem 1rem;
    }
    .cv .cv-column .cv-items {
      font-size: 80%; }

.gastronomia {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0; }
  .gastronomia .gastronomia-presentacion {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .gastronomia .gastronomia-presentacion .gastronomia-presentacion-titulo {
      text-align: center;
      font-size: 2rem; }
    .gastronomia .gastronomia-presentacion .gastronomia-presentacion-descripcion {
      font-size: 18px; }
  .gastronomia .gastronomia-imagen {
    display: flex;
    justify-content: center;
    width: 45%;
    align-items: center; }
    .gastronomia .gastronomia-imagen img {
      width: 100%; }

.restoBar {
  display: flex;
  justify-content: space-evenly;
  margin: 6% 0;
  align-items: center;
  text-align: center;
  height: auto;
  flex-wrap: wrap; }
  .restoBar .restoBar-item {
    background-color: lightblue;
    margin: 1% 0.5%;
    padding: 2% 1.5% 1% 1.5%;
    border-radius: 5%; }
    .restoBar .restoBar-item h4 {
      margin-top: 10px;
      color: #3b3b3b;
      font-weight: 500; }

.spa {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0; }
  .spa .spa-presentacion {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .spa .spa-presentacion .spa-presentacion-titulo {
      text-align: center;
      font-size: 2rem; }
    .spa .spa-presentacion .spa-presentacion-descripcion {
      font-size: 18px; }
  .spa .spa-imagen {
    display: flex;
    justify-content: center;
    width: 45%;
    align-items: center; }
    .spa .spa-imagen img {
      width: 100%; }

.galeria {
  margin: 4% 1%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .galeria li .boton {
    border: none; }
    .galeria li .boton img {
      width: 400px;
      max-height: 275px;
      padding-bottom: 2%; }
  .galeria li .modal-encabezado {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0; }
    .galeria li .modal-encabezado .cruz {
      font-size: 2rem; }
  .galeria li .modal-imagen {
    width: 100%;
    height: auto; }

.formulario {
  background-color: lightblue;
  padding: 1%;
  width: 70vw;
  margin-left: 15vw; }

.ubicacion {
  margin-top: 10vh; }
  .ubicacion .ubicacion-titulo {
    align-self: center; }

.gastronomia .gastronomia-presentacion .gastronomia-presentacion-titulo, .spa .spa-presentacion .spa-presentacion-titulo, .ubicacion .ubicacion-titulo, .section-venta .section-venta-titulo, .opiniones .opiniones-titulo {
  color: #00a2a8;
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  /* /* font-family: /* "Raleway", sans-serif; *//* "SF Pro Text", "SF Pro Icons", */
   /* "Helvetica Neue", Helvetica, Arial, sans-serif;  */ }

.titulo-pagina {
  font-size: 240%;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
  color: #02878b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 2px; }

/* MENU */
.header-nav {
  background-color: #353532;
}

.header-nav-menu {
  width: 100%;
  justify-content: space-evenly;
  /* letter-spacing: 2px;  */
}

.color-item {
  color: white; 
  font-size:medium;
}

.color-item:hover {
  color:white;
  font-weight: bold;
}

.header-nav .header-nav-menu .sub-item:placeholder-shown {
        background-color: black;
        color:black;
}

nav ul li:hover {
        display: flex;
        flex-direction: column;
        color:black; }
  nav ul li ul li:hover {
    display: flex;
    flex-direction: column; 
    color:black;
  }

/* .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show >  *//* .color-item { */
/*   /* color: white;}*/ 

/* FIN MENU */

/* VENTA */

.imag-central {
  margin-top: 3%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.carousel {

  /* width: 100%; */
  /* height: 100%; */
  margin-top: 5%;
  display:flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* position: relative; */
}

  /* .carousel-control { */
  /*   margin: 0 2% 0 2%; */
  /*   color:#353532; */
  /* } */

  /* .carousel-inner { */
  /*   width: 100%; */
  /*   height: 100%; */
  /*   display: flex; */
  /*   align-items: center; */
  /*   justify-content: center; */
  /* } */
  /* .carousel-item active{ */
  /*   width: 100%; */
  /*   height: 100%; */
  /*   display: flex; */
  /*   align-items: center; */
  /*   justify-content: center; */
  /* } */

/* .slide { */
/*   width: 100%; */
/*   height: 100%; */
/*   object-fit: cover; */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   opacity: 0; */
/*   transition: opacity 0.5s ease-in-out; */
/* } */
/*  */
/* .slide.active { */
/*   opacity: 1; */
/* } */

/* FIN VENTA */
/* GALERIA INDEX */
.section-galeria {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none; }
  .section-galeria .section-galeria-imagen {
    width: 18rem; }
    .section-galeria .section-galeria-imagen:hover {
      transform: scale(1.4); }

/* FIN GALERIA INDEX */
/* TESTIMONIOS */
@keyframes opiniones {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.opiniones {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  grid-template-rows: 0.8fr 2fr;
  grid-template-areas: "titulo titulo"
 "imagen texto";
  gap: 0.5rem 0;
  justify-items: center;
  align-items: center; }
  .opiniones .opiniones-titulo {
    grid-area: titulo;
    text-align: center;
    animation: opiniones 10s; }
  .opiniones .opiniones-imagen {
    grid-area: imagen; }
    .opiniones .opiniones-imagen .opiniones-imagen-img {
      border-radius: 5%; }
  .opiniones .opiniones-texto {
    grid-area: texto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .opiniones .opiniones-texto .opiniones-detalle {
      font-size: 14px;
      font-style: italic;
      width: 14rem;
      height: 15rem;
      margin: 1rem;
      padding: 1rem 1rem;
      border: solid 1px #fdbc42;
      box-shadow: 0 0 10px #fdbc42;
      border-radius: 5%; }
      .opiniones .opiniones-texto .opiniones-detalle .fas {
        margin-bottom: 10%;
        color: #00a2a8; }
      .opiniones .opiniones-texto .opiniones-detalle .far {
        margin-bottom: 10%;
        color: #00a2a8; }
      .opiniones .opiniones-texto .opiniones-detalle h4 {
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 2%; }

.contenedor-footer {
  background-color:lightgray;
  margin-top: 0vh;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around; }
  .contenedor-footer .contenedor-footer-leyenda {
    color:#3b3b3b;
    /* text-shadow: 2px 2px 5px black; */
    letter-spacing: 4px;
    margin: 2% 0 0 3%;
  }
   .contenedor-footer .contenedor-footer-leyenda h3 {
    font-size: 1.3rem;
   }
  .contenedor-footer .contenedor-footer-detalle {
    width:auto;
    font-size: 0.9rem;
    /* font-weight: bold; */
    display: flex;
    padding: 1% 0 0 1%;
    flex-direction: column; }
    .contenedor-footer .contenedor-footer-detalle .fas {
      color:rgb(37, 134, 141);
      font-size: 10px;
      margin-right: 2%; }
  .contenedor-footer .contenedor-footer-redes {
    width:auto;
    display: flex;
    justify-content:right;
    align-items: center;
    margin-right: 5%; }
    .contenedor-footer .contenedor-footer-redes a {
      margin-right: 5%; }
      .contenedor-footer .contenedor-footer-redes a .fab {
        color:rgb(37, 134, 141);
        font-size: 2rem; }
  .contenedor-footer .contenedor-footer-copyright {
    width: 100%;
    margin: 1% 2% 0 2%;
    text-align: center;
    font-size: 0.7rem;
    /* font-weight: bold; */ }

/* FIN FOOTER */
/* MEDIA QUERIES */
@media (min-width: 992px) {
  .header-nav {
    height: 70px; }
    /* .header-nav .header-nav-logo { */
    /*   margin-top: 80px; }  */}

@media (min-width: 576px) and (max-width: 992px) {
  .modal-tamano {
    max-width: 85vw; } }

@media (max-width: 1200px) {
  .section-carrusel img {
    margin-top: 0; }
  .section-galeria {
    margin-top: 5%; }
    .section-galeria .section-galeria-imagen {
      margin-bottom: 5%; }
  .opiniones {
    grid-template-rows: 2fr 2fr;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "titulo titulo titulo imagen imagen imagen"
 "texto texto texto texto texto texto";
    margin: 5rem 0 2rem 0; }
    .opiniones .opiniones-titulo {
      padding-left: 5rem; }
  .restoBar {
    margin: 10% 0; }
    .restoBar .restoBar-item {
      padding: 2%; } }

@media (max-width: 992px) {
  .header-nav-logo {
    width: 50%; }
  .section-carrusel {
    margin-top: 8vh; }
    .section-carrusel .section-carrusel-texto .section-carrusel-titulo {
      font-size: 4rem; }
  .opiniones {
    margin-top: 3rem;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "titulo titulo titulo" 
 "imagen imagen imagen"
 "texto texto texto"; }
    .opiniones .opiniones-titulo {
      padding-left: 0; }
  .titulo-pagina {
    margin-top: 9rem; }
  .habitacion .habitacion-tipo {
    flex-wrap: wrap;
    margin: 8% 0; }
    .habitacion .habitacion-tipo .habitacion-tipo-imagen {
      width: 80%; }
    .habitacion .habitacion-tipo .habitacion-tipo-info {
      width: 100%; }
      .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-nombre {
        width: 100%;
        text-align: center; }
      .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-detalle {
        width: 100%;
        padding: 2% 2%;
        text-align: center; }
      .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-items {
        margin-left: 35%;
        width: 50%; }
      .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-reserva {
        margin-top: 2%; }
  .habitacion-todas {
    margin: 3% 2%; }
  .restoBar .restoBar-item {
    margin: 3% 1%;
    padding: 3%; }
  .formulario {
    margin-left: 2vw;
    width: 96vw; } }

@media (max-width: 768px) {
  .section-venta {
    margin: 7% 0; }
    .section-venta .section-venta-titulo {
      font-size: 1.7rem; }
    .section-venta .section-venta-parrafo {
      font-size: 1.1rem;
      padding: 3% 5% 0 5%; }
  .opiniones {
    grid-template-rows: 1fr 2fr 4fr; }
    .opiniones .opiniones-titulo {
      font-size: 1.7rem; }
  .contenedor-footer .contenedor-footer-leyenda {
    font-size: 1.7rem;
    letter-spacing: 2px; }
  .contenedor-footer .contenedor-footer-redes .fab {
    font-size: 2.9rem;
    margin-right: 3%; }
  .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-reserva .habitacion-tipo-info-reserva-boton {
    width: 40%; }
  .gastronomia {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 10%; }
    .gastronomia .gastronomia-presentacion {
      width: 100%; }
      .gastronomia .gastronomia-presentacion .gastronomia-presentacion-titulo {
        font-size: 1.8rem;
        padding: 2% 0; }
    .gastronomia .gastronomia-imagen {
      width: 100%;
      padding: 3% 1%; }
  .spa {
    flex-direction: column;
    justify-content: center;
    padding: 0 10%; }
    .spa .spa-presentacion {
      width: 100%; }
      .spa .spa-presentacion .spa-presentacion-titulo {
        font-size: 1.8rem;
        padding: 2% 0; }
    .spa .spa-imagen {
      width: 100%;
      padding: 3% 1%; } }

@media (max-width: 576px) {
  .header-nav-logo {
    width: 40%; }
  .section-carrusel {
    margin-top: 11vh; }
    .section-carrusel .section-carrusel-texto .section-carrusel-titulo {
      font-size: 2.7rem; }
  a .fas {
    font-size: 1.5rem; }
  .section-venta .section-venta-titulo {
    font-size: 1.4rem; }
  .section-venta .section-venta-parrafo {
    font-size: 0.9rem; }
  .section-galeria {
    justify-content: center; }
    .section-galeria .section-galeria-imagen {
      width: 100%;
      padding: 0 1%; }
    .section-galeria .ocultar {
      display: none; }
  .opiniones {
    margin-top: 0; }
    .opiniones .opiniones-titulo {
      font-size: 1.4rem; }
    .opiniones .opiniones-texto .opiniones-detalle h4 {
      font-size: 1.1rem; }
  .contenedor-footer .contenedor-footer-leyenda {
    letter-spacing: unset; }
  .contenedor-footer .contenedor-footer-detalle {
    width: 100%;
    padding-left: 10%; }
  .contenedor-footer .contenedor-footer-redes {
    width: 100%;
    justify-content: center;
    margin: 0; }
    .contenedor-footer .contenedor-footer-redes .fab {
      margin: 2%; }
  .habitacion .habitacion-tipo .habitacion-tipo-imagen {
    width: 90%; }
  .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-nombre {
    font-size: 24px; }
  .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-items {
    margin-left: 20%; }
  .habitacion .habitacion-tipo .habitacion-tipo-info .habitacion-tipo-info-reserva .habitacion-tipo-info-reserva-boton {
    width: 50%; }
  .habitacion-todas {
    font-size: 1.1rem; }
  .restoBar .restoBar-item {
    padding: 4%;
    max-width: 100%; }
    .restoBar .restoBar-item img {
      max-width: 100%; } }

@media (max-width: 512px) {
  .opiniones {
    margin: 0;
    grid-template-rows: 1fr 2fr 6fr; }
    .opiniones .opiniones-imagen {
      width: 95%; }
      .opiniones .opiniones-imagen .opiniones-imagen-img {
        width: 100%; } }

@media (max-width: 400px) {
  .section-carrusel {
    margin-top: 12vh; }
    .section-carrusel .section-carrusel-texto .section-carrusel-titulo {
      font-size: 2rem; }
  .section-venta .section-venta-titulo {
    font-size: 1.1rem; }
  .section-venta .section-venta-parrafo {
    font-size: 0.9rem; }
  .galeria li .boton img {
    width: 100%; } }

@media (max-width: 350px) {
  .titulo-pagina {
    font-size: 190%;
    margin-top: 6.2rem; } }

/* FIN MEDIA QUERIES */
